# PostgreSQL
POSTGRES_USER=scrob
POSTGRES_PASSWORD=change-me
POSTGRES_DB=scrob

# Scrob
SECRET_KEY=change-me

# Scrob database connection
DATABASE_URL=postgresql+asyncpg://scrob:change-me@scrob-db:5432/scrob
